.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.jumbotron {
    margin-top: 50px;
}

.thread-jumbotron {
    margin-bottom: 0;
}

.panel-body {
    overflow-y: scroll;
    height: calc(100vh - 200px);
}

#video {
    max-width: 100%;
}

.message.left .chat-img {
    float: left;
}

.message.right .chat-img {
    float: right;
}

.message.right .header {
    text-align: right;
}

.message.left .date-wrapper {
    float: right;
}

.message.right .date-wrapper {
    float: left;
}

.message.right .text {
    text-align: right;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.icon {
    height: 24px;
    margin-bottom: -6px;
    width: 24px;
}

.icon + .badge {
    position: relative;
    top: -12px;
    margin-left: -10px;
}

.editable-input {
    vertical-align: top;
    display: inline-block;
    width: auto;
    white-space: normal;
    zoom: 1;
}

.editable-clear-x {
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    opacity: 0.6;
    z-index: 100;
    top: calc(50% - .5em);
    right: 6px;
    margin-top: -6px;
}

.editable-clear-x:hover {
    opacity: 1;
}

.editable-clear-x:before {
    content: "⊗";
    font-size: 1.2em;
}

.editable-buttons {
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
    zoom: 1;
}

.editable-buttons .editable-cancel {
    margin-left: 7px;
}

.editable-buttons button {
    cursor: pointer;
    padding: 10px;
}

.glyphicon-ok:before {
    content: "✓";
}

.glyphicon-remove:before {
    content: "✗";
}