{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Page not found" %}{% endblock title %}

{% block css %}
<style>
    .nb-error {
        margin: 0 auto;
        max-width: 480px;
        padding: 60px 0;
        text-align: center;
    }

    .nb-error .error-code {
        color: #2d353c;
        font-size: 96px;
        line-height: 100px;
    }

    .nb-error .error-desc {
        color: #647788;
        font-size: 12px;
        margin-top: 20px;
    }
    .nb-error .input-group {
        margin: 30px 0;
    }
</style>
{% endblock css %}

{% block content %}
  <div class="jumbotron">
      <div class="nb-error">
          <div class="error-code">404</div>
          <h3 class="font-bold">{% trans "We couldn't find the page." %}</h3>

          <div class="error-desc">
              <p>{% trans "Sorry, but the page you are looking for was either not found or does not exist." %}</p>
              <p>{% trans "Try refreshing the page or click the button below to go back to the Homepage." %}</p>
          </div>
      </div>
  </div>
{% endblock content %}
