{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Video call with" %} {{ interlocutor.username }}{% endblock title %}

{% block content %}
  <div class="jumbotron">

    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>{{ interlocutor.username }}</h4>
                    </div>
                    <div id="call-body">
                        <video id="video" muted="muted"></video>
                    </div>
                </div>
                <button id="video-button" class="right" type="button">{% trans "Start video call" %}</button>
            </div>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
    <script src="https://rawgit.com/onsip/SIP.js/0.7.5/dist/sip-0.7.5.js"></script>
    <script>
        var domain = 'sipjs.onsip.com';

        var token = 'mkeda';
        var date_now = new Date();
        date_now.setTime(date_now.getTime() + 1000*60*60);
        document.cookie = ('onsipToken=' + token + ';' + 'expires=' + date_now.toUTCString() + ';');

        var fromName = '{{ user.username }}';
        var toName   = '{{ interlocutor.username }}';

        var fromURI  = fromName.toLowerCase() + '.' + token + '@' + domain;
        var toURI    = toName.toLowerCase()   + '.' + token + '@' + domain;

        function createUA(callerURI, displayName) {

            var configuration = {
                traceSip: true,
                uri: callerURI,
                displayName: displayName
            };
            var userAgent = new SIP.UA(configuration);
            return userAgent;
        }

        function mediaOptions(audio, video, remoteRender, localRender) {
            return {
                media: {
                    constraints: {
                        audio: audio,
                        video: video
                    },
                    render: {
                        remote: remoteRender,
                        local: localRender
                    }
                }
            };
        }

        function makeCall(userAgent, target, audio, video, remoteRender, localRender) {
            var options = mediaOptions(audio, video, remoteRender, localRender);
            var session = userAgent.invite('sip:' + target, options);
            return session;
        }

        function setUpVideoInterface(userAgent, target, remoteRenderId, buttonId) {
            var onCall = false;
            var session;
            var remoteRender = document.getElementById(remoteRenderId);
            var button = document.getElementById(buttonId);

            userAgent.on('invite', function (incomingSession) {
                onCall = true;
                session = incomingSession;
                var options = mediaOptions(true, true, remoteRender, null);
                button.firstChild.nodeValue = '{% trans "Hang up" %}';
                session.accept(options);
                session.on('bye', function () {
                    onCall = false;
                    button.firstChild.nodeValue = '{% trans "Start video call" %}';
                    session = null;
                });
            });

            button.addEventListener('click', function () {
                if (onCall) {
                    onCall = false;
                    button.firstChild.nodeValue = '{% trans "Start video call" %}';
                    session.bye();
                    session = null;
                }
                else {
                    onCall = true;
                    button.firstChild.nodeValue = '{% trans "Hang up" %}';
                    session = makeCall(userAgent, target,
                                       true, true,
                                       remoteRender, null);
                    session.on('bye', function () {
                        onCall = false;
                        button.firstChild.nodeValue = '{% trans "Start video call" %}';
                        session = null;
                    });
                }
            });
        }

        (function () {
        if (SIP.WebRTC.isSupported()) {
            window.fromUA = createUA(fromURI, fromName);

            var registrationFailed = false;
            var failRegistration = function () {
                    registrationFailed = true;
                    failInterfaceSetup();
                };

            fromUA.on('registered', setupInterfaces);
            fromUA.on('registrationFailed', failRegistration);
            window.onunload = function () {
                fromUA.stop();
            };

            function setupInterfaces() {
                setUpVideoInterface(fromUA, toURI, 'video', 'video-button');
            }
            function failInterfaceSetup() {
                alert('Max registration limit hit. The app is disabled.');
            }
        }
        })();
    </script>
{% endblock script %}
